@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Condensed&family=Roboto:wght@100&family=Rowdies:wght@300&display=swap');

body {
    background-color: #5798b2;
    font-family: 'Rowdies', 'Helvetica', 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#background {
    height: 725px;
    background-color: #9ee5dd;
    grid-column: 1/11;
    grid-row: 4/9;
}

.book, .join {
    background-color: #9ee5dd;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #5798b2;
    color: white;
}

.button-box {
    text-align: center;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.card-img {
    width: 100%;
    border: 10px solid #e45c3a;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

footer {
    background-color: #b2945b;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color:white;
}

footer p {
    font-size: 1.2em;
}

/* footer p a:hover {
    text-decoration: underline;
} */

footer .social img {
    padding-top: 15px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:rgba(158, 229, 221, .7);
}

h1 {
    font-family: 'Kanit', 'Roboto', 'sans-serif';
}

h2 {
    font-family: 'Kanit', 'Roboto', 'sans-serif';
    margin: 0;
}

h4 {
    color: white;
    font-family: 'Kanit', 'Roboto', 'sans-serif';
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-msg h4 {
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.home-title {
    color:white;
    font-family: 'Rowdies', 'Helvetica', 'sans-serif';
    font-size: 2em;
    margin-top: 10px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #e45c3a;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: black;
    font-family: 'Rowdies', 'Helvetica', 'sans-serif';
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}


nav {
    display: flex;
    justify-content: space-around;
}
             

nav a {
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #5798b2;
    color:white;
}

#rivers-hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#rivers-hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#rivers-hero-img {
    width: 100%;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.rivers-card-img {
    display: block;
    width: 60%;
    border: 10px solid #e45c3a;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    margin-left: 200px;
    margin-right: 200px;
}

.rivers2-card {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.rivers-msg {
    line-height: 1.5em;
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;
    font-size: 1em;
    color: white;
}

.rivers-msg h2 {
    text-align: center;
    padding-bottom: 75px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            
